<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://www.flaticon.com/premium-icon/icons/svg/2626/2626281.svg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
    <link rel="stylesheet" href="https://nekobin.com/raw/vukugilida.css">
    <title>%s</title>
</head>
<body style="background-color: rgb(59, 59, 59);">
    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
	<script>
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player');
        });
	</script>
    <div>
        <h1 style="text-align:center; color: white">%s</h1>
        <div class="container">
            <tag src=%s class="player"></tag>
        </div>
    </div>
    <div style="height: 50px; color: moccasin; padding: 50px;">
        <div style="text-align: center; color: moccasin;">
            Fork me on
        </div>
        <a href="http://github.com/EverythingSuckz/TG-FileStreamBot" style="color: white; text-align: center; float: left; padding: 3px;">
            <img src="https://cdn4.iconfinder.com/data/icons/vector-brand-logos/40/GitHub-512.png" alt="Githb Logo" width=50px>
        </a>
    </div>
</body>
</html>